.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin-top: 8px;
}
.basic{
  color: #fff;
  border: 2px #fff;
  margin-top: 8px;

}